/*
The MIT License (MIT)

Copyright © 2020 Benjamin Grau & Gregor Parzefall

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/


/* Color theme */
:root {
	--popUpBg: rgba(26, 26, 26, 0.7);
	--popUpWindowBg: #fff;
	--popUpBtnLineColor: lightgrey;
	--popUpBtnBg: #3498db;
	--popUpBtnHoverBg: #2e80b7;
	--popUpBtnTextColor: #fff;
	--popUpTextColor: #000;
	--popUpCloseColor: lightgrey;
	--popUpCloseHoverColor: black;
}

.pop-up-bg {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	align-items: center;
	justify-content: center;
	background-color: var(--popUpBg);
}

.pop-up {
	max-width: 500px;
	min-width: 200px;
	height: auto;
	max-height: 300px;
	background-color: var(--popUpWindowBg);
	text-align: left;
	margin: 15px !important;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	z-index: 5;
	color: var(--popUpTextColor);
	font-family: sans-serif;
}

.pop-up .button-line {
	text-align: right;
	border-top: 1px solid var(--popUpBtnLineColor);
	padding-top: 10px;
	margin-top: 18px;
}

.pop-up .button-line button {
	margin-left: 5px;
}

.pop-up .pop-up-icon {
	margin: 0;
	font-size: 48pt;
	text-align: center;
	user-select: none;
}

.pop-up .standard-button {
	font-family: inherit;
	padding: 10px;
	font-size: 12pt;
	border: 1px solid var(--popUpBtnBg);
	cursor: pointer;
	color: var(--popUpBtnTextColor);
	background-color: var(--popUpBtnBg);
	border-radius: 2px;
	outline: none;
	transition: background-color 0.2s, border-color 0.2s;
}

.pop-up .standard-button:hover {
	background-color: var(--popUpBtnHoverBg);
	border-color: var(--popUpBtnHoverBg);
}

.pop-up div.popup-close {
	text-align: right;
	cursor: pointer;
	float: right;
	transition: transform 0.2s, color 0.2s;
	color: var(--popUpCloseColor);
}
.pop-up div.popup-close i.cross {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: linear-gradient(45deg, transparent 45%, currentColor 45%, currentColor 55%, transparent 55%), linear-gradient(135deg, transparent 45%, currentColor 45%, currentColor 55%, transparent 55%);
}

.pop-up div.popup-close:hover {
	transform: scale(1.1);
	color: var(--popUpCloseHoverColor);
}
